body{
    text-align: center
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    position: absolute;
    top: 300px;
}

.button-container{

    width: 100%;
    display: flex;
    justify-content: center;
}

.spacer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.spacer1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.wide{
    /* Align Horizontally and Vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}